@{
    ViewData["Title"] = "confirmação de apagar contato";

}

<div class="text-center">
    <h3>Realmente deseja apagar o contato?</h3>

</div>
<a role="button" class="btn btn-primary btn-block"></a>
<a class="btn btn-primary btn-block" role="button" >Confirmar exclusão</a>
<a class="btn btn-primary btn-block" role="button" asp_controller="Contato" asp-action="Index" >Cancelar exclusão</a>